{% extends './base2.html' %}

{% block content%}

    <!-- We Create Start -->
    <div class="we-create-area create-padding">
        <div class="container">
            <div class="row d-flex align-items-start">
                <div class="col-lg-6 col-md-12">
                    <div class="we-create-img">
                        <img src="{{ url_for('static', filename = 'assets/img/pam/1.jpg')}}" class="img1" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="we-create-cap">
                        <h3>¿Quiénes somos?</h3>
                        <p>Somos una empresa MEXICANA que nace de la necesidad de
                            garantizar a nuestros clientes un servicio diferenciado de
                            calidad, nos dedicamos a brindar soluciones para el
                            campo de tus investigaciones de mercado a través de nuestros
                            sistemas de selección, entrenamiento y supervisión de nuestros
                            colaboradores, acompañando en cada paso nuestros procesos para
                            garantizar la información de nuestros clientes, además de poder
                            generar fuentes de empleo en nuestro país.
                        </p>
                        <p>
                            En ViSor aseguramos en su totalidad que la privacidad individual es respetada conforme a la legislación de protección de datos  de este modo perseveramos la confidencialidad y el anonimato.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We Create End -->
    <!-- What We do start-->
    <div class="what-we-do we-padding">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center">
                        <h2>Nuestros valores</h2>
                    </div>
                    <div class="section-tittle text-center">
                        <p>Nuestro objetivo es diferenciarnos de los competidores de manera ética a través de nuestro inigualable servicio y capacitación a nuestro equipo.</p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-do  text-justify mb-30 active">
                        <div class="do-icon">
                            <i class="fas fa-heart"></i>
                        </div>
                        <div class="do-caption">
                            <h4>Pasión por el Servicio</h4>
                            <p>Nos esforzamos por superar las expectativas de nuestros clientes, el acompañamiento en todo momento a lo largo de nuestros procesos nos permite asegurar la calidad de nuestro servicio, clave de nuestro éxito.</p>
                        </div>
                        <!--
                        <div class="do-btn">
                            <a href="#"><i class="ti-arrow-right"></i> get started</a>
                        </div>
                        -->
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6">
                    <div class="single-do active text-justify mb-30">
                        <div class="do-icon">
                            <i class="far fa-lightbulb"></i>
                            <!--
                                <span  class="flaticon-social-media-marketing"></span>
                            -->
                        </div>
                        <div class="do-caption">
                            <h4>Innovación</h4>
                            <p>Buscamos soluciones creativas y mejoramos nuestros sistemas para garantizar la satisfacción de nuestros clientes.</p>
                        </div>
                        <!--
                        <div class="do-btn">
                            <a href="#"><i class="ti-arrow-right"></i> get started</a>
                        </div>
                        -->
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6">
                    <div class="single-do text-justify mb-30 active">
                        <div class="do-icon">
                            <i class="fas fa-chart-line"></i>
                            <!--
                                <span  class="flaticon-project"></span>
                            -->
                        </div>
                        <div class="do-caption">
                            <h4>Entrenamiento Continuo</h4>
                            <p>Estamos seguros que la capacitación continua de nuestros colaboradores es clave para garantizar la calidad de nuestros servicios. Estamos comprometidas con el desarrollo de nuestro propio sistema e-learning para asegurar en cada proyecto el entendimiento entre nuestros clientes y su mercado.</p>
                        </div>
                        <!--
                        <div class="do-btn">
                            <a href="#"><i class="ti-arrow-right"></i> get started</a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- What We do End-->

{% endblock %}

