{% extends './base2.html' %}

{% block content%}
<!-- Generating Start -->
<div class="generating-area create-padding">
        <div class="container">
             <!-- Section-tittle -->
             <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center">
                        <h2>Conoce los perfiles que ViSor tiene disponibles para ti y forma parte de nuestro equipo</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12 align-self-start"  >
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="fas fa-question"></span>
                            <!--
                                <span class="flaticon-speaker"></span>
                            -->
                        </div>
                        <div class="generating-cap">
                            <h4>Mystery Shopper</h4>
                            <p>
                            Ser un Mystery Shopper es simular ser un CLIENTE,
                            OBSERVAR y DETECTAR los requerimientos dependiendo del cliente.
                            Se encarga de realizar ejercicios de observación, interacción
                            y pseudocompra o consumo con diversos productos o servicios.
                            </p>
                            <p>
                            La actividad del cliente misteriosos o Mystery Shopper,
                            debe de servir para que una  empresa pueda hacerse una idea
                            lo más objetiva posible del nivel de servicio ofrecido o detectar
                            algún tema en particular.
                            </p>
                            <p>
                            Las funciones más comunes:
                            </p>
                            <p>
                                <b>1. Visitar establecimientos comerciales. </b><br>
                                <b>2. Observar e informar aspectos visuales de la visita. </b><br>
                                <b>3. Simular un proceso de compra.</b><br>
                                <b>4. Interactuar con personas involucradas en los procesos a estudiar. </b><br>
                                <b>5. Evaluar y documentar la experiencia. </b><br>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-0 align-self-center" >
                            <img src="{{ url_for('static', filename = 'assets/img/pam/4.jpg')}}" class="img1" width="500" height="500"  alt="">
                </div>
                <div class="col-lg-12 col-md-12">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">

                                <span class="fas fa-tasks"></span>
                            </div>
                            <div class="generating-cap">
                                <h4>Perfil Mistery Shopper</h4>
                                <p>
                                    1. Altamente enérgico.<br>
                                    2. Excelentes habilidades de comunicación.Comunicarse claramente, Si te da pena preguntar, acercarte a indagar, este perfil NO es para ti.<br>
                                    3. Organizado.<br>
                                    4. Manejo del tiempo efectivamente.<br>
                                    5. Detallista.<br>
                                    6. Analítico.<br>
                                    7. Confiable. <br>
                                    8. Honrado. <br>
                                    9. Tener la habilidad de actuar con naturalidad. <br>
                                </p>
                            </div>
                        </div>
                    </div>

                <div class="col-lg-7 col-md-12 align-self-start">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="fas fa-microphone"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Encuestador</h4>
                            <p>Ser un encuestador requiere habilidades de vendedor,
                                convencer al entrevistado para acceder a la encuesta mostrándole
                                las ventajas o beneficios de su participación, generar confianza y empatía al
                                momento del abordamiento son claves para lograr con éxito la tarea.
                            </p>
                            <p>
                                Las funciones más comunes:
                            </p>
                            <p>
                                <b>1. Obtener información relevante a través de la aplicación de entrevistas y/o cuestionarios.</b><br>
                                <b>2. Mantener un rol activo y dinámico.</b><br>
                                <b>3. Permanece en movimiento continuo, visita varios puntos.</b><br>
                                <b>4. Codificación de información en sistemas.</b><br>
                                <b>5. Digitación de información en sistemas.</b><br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-0 align-self-center" >
                        <img src="{{ url_for('static', filename = 'assets/img/pam/5.jpg') }}" class="img1" width="500" height="500"  alt="">
                </div>


                <div class="col-lg-12 col-md-12">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                                <span class="fas fa-tasks"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Perfil Encuestador</h4>
                            <p>
                                1. Gran sentido de responsabilidad y ética, el encuestador tiene que ser sumamente honesto.<br>
                                2. Saber trabajar bajo presión.<br>
                                3. Tener ALTA tolerancia a la frustación.<br>
                                4. Tener habilidades para comunicarse de manera clara.<br>
                                5. Establecer empatía y confianza, ser educado.<br>
                                6. Tener excelente presencia.<br>
                                7. Ser organizado y metódico.<br>
                                8. Ser sumamente paciente.<br>
                                9. Ser imparcial y discreto con información confidencial del proyecto. <br>
                                10. Sumamente activo, tiene que abordar a los posibles candidatos a entrevistar, una persona introvertida, que le de pena hablar, preguntar, negociar NO tiene el perfil para esta posición. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">

                                <span class="fas fa-users"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Participante de Sesiones</h4>
                            <p>
                                Comparte sus experiencias de marcas y productos. Participa compartiendo sus opiniones en encuestas de campo y/o puede participar en sesiones de Focus group.
                            </p>
                            <p>
                               Depende de cada proyecto el perfil de los participantes de sesiones, las participaciones son remuneradas.
                            </p>
                            <p>
                            Si te gustaría que te consideremos en nuestros proyectos y generar ingresos extras, dejanos tus datos llenando el formulario de registro.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                                <span class="fas fa-tasks"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Perfil Participante de sesiones</h4>
                            <p>
                                1. Disponibilidad para compartir sus opiniones de experiencias de marcas y / o productos.<br>
                                2. Empático.<br>
                                3. Critico constructivo.<br>
                                4. Tolerante.<br>
                                5. Honesto.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-lg-12 col-md-12">
                    <h2>¿Sabías qué…? </h2>
                    <p>
                      A todos nuestros colaboradores se les retribuye de
                      manera monetaria su participación, la cantidad depende del proyecto, gana
                      dinero desde tu casa o asistiendo a focus group, tu experiencia y conocimiento
                      de los productos y marcas SI tiene valor para nosotros.
                    </p>
                </div>
                -->

            </div>
        </div>
    </div>
    <!-- Generating End -->

     <!-- have-project Start-->
     <div class="have-project">
        <div class="container">
            <div class="haveAproject" data-background="assets/img/team/have.jpg">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>¿Cuentas con estas habilidades?</h2>
                            <p>Registrate y sé parte de nuestro equipo</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                       <div class="wantToWork-btn f-right">
                            <a href="{{ url_for('registro') }}" class="btn btn-ans">Registrarme</a>
                       </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- have-project End -->
{% endblock %}

