{% extends './base2.html' %}

{% block content %}

        <!--Choose Best start-->
        <div class="choose-best choose-padding">
                <div class="container">
                    <!-- Section-tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-tittle text-center">
                                <h2>Cobertura de Servicios </h2>
                            </div>
                            <div class="section-tittle text-center">
                                    <h3>Tenemos equipo en las principales ciudades de la Republica Mexicana. Además contamos con partners en países como Argentina, Chile y Australia.</h3>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ url_for('static', filename = 'assets/img/pam/2.jpg' )}}" class="img1" alt="" height="400" width="600">
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Choose Best do End-->

{% endblock%}
 
