<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido a ViSor</title>
</head>
<body>
    <p style="text-align:center;"><img src="https://www.pythonanywhere.com/user/CristianDeloya/files/home/CristianDeloya/mysite/static/images/kleo-logo.pnghttps://www.pythonanywhere.com/user/CristianDeloya/files/home/CristianDeloya/mysite/static/images/kleo-logo.png" height="70" ></p>
    <h1>Bienvenid@ , {{nombre}}</h1>
    <h3>Has sido agregad@ como administrador dentro de ViSor, con la siguiente contraseña podrás entrar a la plataforma. </h3>
    <h3>Contraseña : {{password}}</h3>
</body>
</html>