<style>
        body{

        }

        .my-class {
            background-color:  #6C55A3;
            border-radius: 15px 50px;
            height: 320px;
            width: 300px;
            padding: 20px;
            margin: 1cm
        }

        .my-class2 {
            background-color:  #6C55A3;
        }
        
        </style>
        {% extends 'base.html' %}
            {% block content %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="container-fluid my-class2">
                <center>
                    <a href="{{url_for('index')}}">
                        <img src="{{url_for('static', filename='images/kleo-logo.png')}}" height="50">
                    </a>
                    <br>
                    <br>
                    <form action="" method="POST">
                        <div class="row" >
                            <div class="col-4">
                                <h3 class="text-white mt-2 mb-3">Hola, </h3>
                                    <label for="inputPassword2" class="sr-only">Password</label>
                                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                            </div>
                        </div>
                    </form>
                </center>
            </div>
            {% endblock %}
        