<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h2>Un usuario visitó el portal de ViSor y te dejo los siguientes datos:</h2>
    <b>Nombre:</b>{{ nombre }}
    <br>
    <b>Correo electrónico:</b> {{ correo }}
    <br>
    <b>Teléfono de contacto:</b> {{ telefono }}
    <br>
    <b>Ciudad de residencia:</b> {{ ciudad }}
    <br>
    <b>Consulta :</b> {{ consulta }}
</body>
</html>