{% extends 'base.html' %}


{% block navbar %}
<!--Navbar Start-->
   <nav class="navbar navbar-expand-lg fixed-top navbar-kleo normal-nav yournav">
    <div class="container">
        <a class="navbar-brand logo" href="">
            <img src="{{url_for('static', filename='images/kleo-logo.png')}}" height="21">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                <li class="nav-item active">
                    <a href="#top" class="nav-link">¿Quiénes somos?</a>
                </li>
                <!--
                    <li class="nav-item">
                    <a href="#mision" class="nav-link">¿Quiénes somos?</a>
                    </li>
                -->
                <li class="nav-item">
                    <a href="#valores" class="nav-link">Valores</a>
                </li>
                <li class="nav-item">
                    <a href="#perfiles" class="nav-link">Perfiles</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contacto</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('login')}}"><button class="btn btn-primary ">Ingresar</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
{% endblock %}

{% block content %}
    <!-- Header Start -->
  <section class="header-bg align-items-center position-relative d-flex" id="top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="header-title">
                    <!--<p class="highlight font-weight-bold size-16 text-uppercase header-small-title title mb-3 ml-1">Bootstrap Theme</p>-->
                    <h1 class="font-weight-bold main-title mb-4">¿Quiénes somos?</h1>
                    <p class="text-sub ml-2 mb-4 pb-2">
                            Somos una empresa MEXICANA que nace de la necesidad de garantizar
                            a nuestros clientes un servicio diferenciado de calidad,
                            nos dedicamos a brindar soluciones para el  campo de tus investigaciones de mercado a través de nuestros sistemas de selección,
                            entrenamiento y supervisión de nuestros colaboradores, acompañando en cada paso nuestros procesos para garantizar la información de
                            nuestros clientes, además de poder generar fuentes de empleo en nuestro país.
                    </p>
                    <br>
                    <p class="text-sub ml-2 mb-4 pb-2">
                        Nuestro objetivo es diferenciarnos de los competidores de manera ética a través de nuestro inigualable servicio y capacitación a nuestro equipo.
                    </p>
                    <!--
                        <a href="{{ url_for('registro') }}" class="btn btn-primary ml-2">Registrate gratis<span class="ml-2 right-icon"><i class="fas fa-arrow-right"></i></span></a>
                    -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="mt-5 mt-lg-0">
                    <img src="{{url_for('static', filename='images/header-2.png')}}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header End -->



<!-- About Start -->
<!--
<section class="section bg-grey" id="mision">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h2 class="highlight header-colorize text-uppercase mb-3">Misión</h2>
                    <p class="text-sub size-14">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="{{url_for('static', filename='images/header-about.png')}}" alt="" class="img-fluid mx-auto d-block">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="text-sub mt-5 mt-lg-0">
                    <h3 class="title font-weight-medium mb-4">A perfect bootstrap theme for all types of business.</h3>
                    <p class="mb-4 size-15">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
                    <p class="mb-4 size-15">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <a href="" class="learn-more size-15">Registrate gratis<span class="ml-2 right-icon"><i class="fas fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- About End -->



<!-- Services Start -->
<section class="section" id="valores">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <div class="text-center mb-5">
                    <h2 class="highlight header-colorize text-uppercase mb-3">Valores</h2>
                    <p class="text-sub size-14">En VISOR aseguramos en su totalidad que la privacidad individual es respetada conforme a la legislación de protección de datos  de este modo perseveramos la confidencialidad y el anonimato.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="services-container pr-4 pl-4">
                    <div class="services-icon mt-3">
                        <i class="far fa-heart"></i>
                    </div>
                    <h4 class="mb-4 mt-4 services-title">Pasión por el Servicio</h4>
                    <p class="text-sub size-15">Nos esforzamos por superar las expectativas de nuestros clientes, el acompañamiento en todo momento a lo largo de nuestros procesos nos permite asegurar la calidad de nuestro servicio, clave de nuestro éxito. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-container pr-4 pl-4">
                    <div class="services-icon mt-3">
                        <i class="far fa-sun"></i>
                    </div>
                    <h4 class="mb-4 mt-4 services-title">Innovación</h4>
                    <p class="text-sub size-15">Buscamos soluciones creativas y mejoramos nuestros sistemas para garantizar la satisfacción de nuestros clientes</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-container pr-4 pl-4">
                    <div class="services-icon mt-3">
                        <i class="fas fa-running"></i>
                    </div>
                    <h4 class="mb-4 mt-4 services-title">Entrenamiento Continuo</h4>
                    <p class="text-sub size-15">Estamos seguros que la capacitación continua de nuestros colaboradores es clave para garantizar la calidad de nuestros servicios. Estamos comprometidas con el desarrollo de nuestro propio sistema e-learning para asegurar en cada proyecto el entendimiento entre nuestros clientes y su mercado. </p>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Services End -->



<!-- Testimonials Start -->
<section class="section bg-grey" id="perfiles">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h2 class="highlight text-uppercase mb-3 header-colorize">Perfiles</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-center m-auto">


        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <h3 class="register-heading">Mystery Shopper</h3>
                    <hr class="new5">
                        <p class="testimonial">
                            Ser un Mystery Shopper es simular ser un CLIENTE,  OBSERVAR y DETECTAR los requerimientos dependiendo del cliente. Se encarga de realizar ejercicios de observación, interacción y pseudocompra o consumo con diversos productos o servicios.
                            La actividad del cliente misteriosos o Mystery Shopper, debe de servir para que una  empresa pueda hacerse una idea lo más objetiva posible del nivel de servicio ofrecido o detectar algún tema en particular.
                            Las funciones más comunes son:
                        </p>
                        <ol>
                          <li>Visitar establecimientos comerciales.</li>
                          <li>Observar e informar aspectos visuales de la visita.</li>
                          <li>Simular un proceso de compra.</li>
                          <li>Interactuar con personas involucradas en los procesos a estudiar.</li>
                          <li>Evaluar y documentar la experiencia.</li>
                        </ol>
                </div>
                <div class="item carousel-item">
                    <h3 class="register-heading">Perfil Mystery Shopper</h3>
                    <hr class="new5">
                        <ul>
                            <li>Altamente enérgico</li>
                            <li>Excelentes habilidades de comunicación! Comunicarse claramente, Si te da pena preguntar, acercarte a indagar, este perfil NO es para ti.</li>
                            <li>Organizado</li>
                            <li>Manejo del tiempo efectivamente</li>
                            <li>Detallista</li>
                            <li>Analítico</li>
                            <li>Confiable</li>
                            <li>Honrado</li>
                            <li>Tener la habilidad de actuar con naturalidad </li>
                        </ul>
                </div>
                <div class="item carousel-item">
                    <h3 class="register-heading">Encuestador</h3>
                    <hr class="new5">
                        <p class="testimonial">
                            Ser un encuestador requiere habilidades de vendedor, convencer al entrevistado para acceder a la encuesta mostrándole las ventajas o beneficios de su participación, generar confianza y empatía al momento del abordamiento son claves para lograr con éxito la tarea.
                            Las funciones más comunes son:
                        </p>
                        <ol>
                          <li>Obtener información relevante a través de la aplicación de entrevistas y/o cuestionarios.</li>
                          <li>Mantener un rol activo y dinámico.</li>
                          <li>Permanece en movimiento continuo, visita varios puntos.</li>
                          <li>Codificación de información en sistemas.</li>
                          <li>Digitación de información en sistemas.</li>
                        </ol>
                </div>
                <div class="item carousel-item">
                <h3 class="register-heading">Perfil del Encuestador</h3>
                    <hr class="new5">
                        <ul>
                            <li>Sumamente activo, tiene que abordar a los posibles candidatos a entrevistar, una persona introvertida, que le de pena hablar, preguntar, negociar NO tiene el perfil para esta posición. </li>
                            <li>Gran sentido de responsabilidad y ética, el encuestador tiene que ser sumamente honesto.</li>
                            <li>Saber trabajar bajo presión.</li>
                            <li>Tener ALTA tolerancia a la frustación.</li>
                            <li>Tener habilidades para comunicarse de manera clara.</li>
                            <li>Establecer empatía y confianza, ser educado.</li>
                            <li>Tener excelente presencia.</li>
                            <li>Ser organizado y metódico.</li>
                            <li>Ser sumamente Paciente.</li>
                            <li>Ser imparcial y discreto con información confidencial del proyecto.</li>
                        </ul>
                </div>
                <div class="item carousel-item">
                    <p class="testimonial">
                        ¿CUENTAS CON ESTAS HABILIDADES? REGISTRATE Y SE PARTE DE NUESTRO EQUIPO
                    </p>
                    <a href="{{url_for('registro')}}"><button class="btn btn-primary ">Registrate aquí</button></a>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

    </div>
        </div>
    </div>
</section>
<!-- Testimonials End -->

<!-- Contact Start -->
<section class="section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                     <h2 class="highlight header-colorize text-uppercase mb-3">Comparte tus opiniones</h2>
                    <p class="text-sub size-14"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <h4 class="title mb-4">¿Sabías qué...?</h4>
                    <p class="text-sub size-15">A todos nuestros colaboradores se les retribuye de manera monetaria su participación, la cantidad depende del proyecto, gana dinero desde tu casa o asistiendo a focus group, tu experiencia y conocimiento de los productos y marcas SI tienen valor para nosotros.</p>
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1">
                <div class="custom-form mt-4 mt-lg-0">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="nombre">Nombre completo:</label>
                                    <input type="text" class="form-control" id="nombre" name = "nombre" placeholder="nombre completo" value="{{ request.form['nombre'] }}" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="correo">Correo electrónico:</label>
                                    <input type="email" class="form-control" id="correo" name="correo" placeholder="Ingresa tu correo" value="{{ request.form['correo'] }}"/>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="telefono">Teléfono de contacto:</label>
                                    <input type="tel" class="form-control" id="telefono" name = "telefono" placeholder="Ingresa tu teléfono" value="{{ request.form['telefono'] }}" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="ciudad">¿En qué ciudad radicas?</label>
                                    <select name="ciudad" class="form-control" value="{{ request.form['ciudad']}}">
                                        <option value="Aguascalientes">Aguascalientes</option>
                                        <option value="Campeche">Campeche</option>
                                        <option value="Chetumal">Chetumal</option>
                                        <option value="Chihuahua">Chihuahua</option>
                                        <option value="Chilpancingo">Chilpancingo</option>
                                        <option value="Ciudad de México">Ciudad de México</option>
                                        <option value="Ciudad Victoria">Ciudad Victoria</option>
                                        <option value="Chetumal">Chetumal</option>
                                        <option value="Colima">Colima</option>
                                        <option value="Cuernavaca">Cuernavaca</option>
                                        <option value="Culiacán">Culiacán</option>
                                        <option value="Durango">Durango</option>
                                        <option value="Guanajuato">Guanajuato</option>
                                        <option value="Guadalajara">Guadalajara</option>
                                        <option value="Hermosillo">Hermosillo</option>
                                        <option value="La Paz">La Paz</option>
                                        <option value="Mérida">Mérida</option>
                                        <option value="Mexicali">Mexicali</option>
                                        <option value="Monterrey">Monterrey</option>
                                        <option value="Morelia">Morelia</option>
                                        <option value="Oaxaca">Oaxaca</option>
                                        <option value="Pachuca">Pachuca</option>
                                        <option value="Puebla">Puebla</option>
                                        <option value="Querétaro">Querétaro</option>
                                        <option value="Saltillo">Saltillo</option>
                                        <option value="San Luis Potosí">San Luis Potosí</option>
                                        <option value="Tepic">Tepic</option>
                                        <option value="Toluca">Toluca</option>
                                        <option value="Tuxtla Gutiérrez">Tuxtla Gutiérrez</option>
                                        <option value="Tlaxcala">Tlaxcala</option>
                                        <option value="Villahermosa">Villahermosa</option>
                                        <option value="Zacatecas">Zacatecas</option>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="gusto">¿En qué te gustaría participar?</label>
                                    <select name="gusto" class="form-control" value="{{ request.form['gusto']}}">
                                            <option value="Encuesta telefónica">Encuesta telefónica</option>
                                            <option value="Asistir a Focus Group">Asistir a Focus Group</option>
                                            <option value="Encuesta vía online">Encuesta vía online</option>
                                            <option value="Encuesta presencial">Encuesta presencial</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button href="{{url_for('opinion')}}" class="btn btn-primary"><span class="mr-2 left-icon"><i class="fas fa-envelope"></i></span>Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact End -->
{% endblock %}