<style>

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 10px;
}
.my-class {
    background-color:  #6C55A3;
    border-radius: 15px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

</style>
{% extends 'base.html' %}
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container mt-5 mb-5 mx-auto ">
        <center>
            <a href="{{url_for('index')}}">
                    <img src="{{url_for('static', filename='images/kleo-logo.png')}}" height="50">
            </a>
        </center>
        <br>
        <br>
                    <div id="login-row" class="row justify-content-center align-items-center">
                        <div id="login-column" class="col-md-6 ">
                            <div id="login-box" class="col-md-12  my-class pt-5 pb-5 pr-5 pl-5" >
                                <form id="login-form" class="form" action="{{ url_for('login') }}" method="POST">
                                    <div class="form-group">
                                        <label for="email" class="text-white">Correo electrónico:</label><br>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="name@example.com" required value= "{{ request.form['email'] }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-white">Contraseña:</label><br>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Ingresa aquí tu contraseña" required value="{{ request.form['password'] }}">
                                    </div>
                                    <div class="form-group d-flex justify-content-center">
                                        <input type="submit" name="submit" class="btn btn-primary btn-md mt-3" value="Iniciar sesión">
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
    </div>
    {% endblock %}
