<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comparte tus opiniones</title>
</head>
<body>
    <form action="" method="POST">
        <b>Nombre completo:</b><input type="text" name="nombre" id="nombre" value="{{ request.form['nombre'] }}">
        <br>
        <b>Correo electrónico:</b><input type="email" name="correo" id="correo" value="{{ request.form['correo'] }}">
        <br>
        <b>Teléfono de contacto:</b><input type="tel" name="telefono" id="telefono" value="{{ request.form['telefono'] }}">
        <br>
        <b>¿En qué ciudad radicas?</b>
        <select name="ciudad" value="{{ request.form['ciudad']}}">
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Campeche">Campeche</option>
                <option value="Chetumal">Chetumal</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Chilpancingo">Chilpancingo</option>
                <option value="Ciudad de México">Ciudad de México</option>
                <option value="Ciudad Victoria">Ciudad Victoria</option>
                <option value="Chetumal">Chetumal</option>
                <option value="Colima">Colima</option>
                <option value="Cuernavaca">Cuernavaca</option>
                <option value="Culiacán">Culiacán</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guadalajara">Guadalajara</option>
                <option value="Hermosillo">Hermosillo</option>
                <option value="La Paz">La Paz</option>
                <option value="Mérida">Mérida</option>
                <option value="Mexicali">Mexicali</option>
                <option value="Monterrey">Monterrey</option>
                <option value="Morelia">Morelia</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Pachuca">Pachuca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Saltillo">Saltillo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Tepic">Tepic</option>
                <option value="Toluca">Toluca</option>
                <option value="Tuxtla Gutiérrez">Tuxtla Gutiérrez</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Villahermosa">Villahermosa</option>
                <option value="Zacatecas">Zacatecas</option>
        </select>
        <br>
        <b>¿En qué te gustaría participar?</b>
        <select name="gusto" value="{{ request.form['gusto']}}">
                <option value="Encuesta telefónica">Encuesta telefónica</option>
                <option value="Asistir a Focus Group">Asistir a Focus Group</option>
                <option value="Encuesta vía online">Encuesta vía online</option>
                <option value="Encuesta presencial">Encuesta presencial</option>
        </select>
        <br>
        <input type="submit" value = "Mandar datos">
    </form>


    <h1>
        ¿Sabías qué... A todos nuestros colaboradores se les retribuye de manera monetaria su participación, 
            la cantidad depende del proyecto, gana dinero desde tu casa o asistiendo a focus group, tu experiencia y conocimiento de los productos y marcas 
            SI tienen valor para nosotros.
    </h1>

</body>
</html>