{% extends 'base.html' %}
{% block content %}

<style>

 .formsignup{
    background: linear-gradient(0deg, rgba(108,85,163,1) 0%, rgba(177,165,206,1) 37%, rgba(255,255,255,1) 100%);/* #f8f9fa;-webkit-linear-gradient(bottom, #6c55a3,#f0f0f0);*/
}

.frame2{
    background-color: white;
    padding: 1cm;

}

hr.new5 {
  border: 3px solid  rgba(108,85,163,1);
  border-radius: 5px;
  width: 100%;
}


.row.form{
    background-color: white
}

.encabezados{
  color: #6C55A3;

}


</style>

<div class="formsignup container-fluid mx-auto pt-3 pl-5 pr-5 ">
        <div class="frame2 border bg-light rounded">
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <a href="{{url_for('index')}}">
                            <img src="{{url_for('static', filename='images/kleo-logo.png')}}" height="50" class="img-fluid" width="300">
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3 class="register-heading">Registro</h3>
                </div>
                <div class="row">
                    <hr class="new5">
                </div>
                <div class="row">
                  <h5 class="encabezados">Datos personales</h5>
                  <hr class="style14">
                  <br>
                </div>
                <form method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="name">Nombre(s):</label>
                            <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{ request.form['name']}}" >
                          </div>
                          <div class="form-group col-md-4">
                            <label for="paterno">Apellido Paterno:</label>
                            <input type="text" class="form-control" name="paterno" placeholder="Apellido paterno" value="{{ request.form['paterno']}}" >
                          </div>
                          <div class="form-group col-md-4">
                            <label for="materno">Apellido Materno:</label>
                            <input type="text" class="form-control" name="materno"  placeholder="Apellido materno" value="{{ request.form['materno']}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class= "form-group col-md-3">
                              <label for="fecha">Fecha de nacimiento:</label>
                              <input type="text" class="form-control" name="fecha" id="datepicker"  value="{{ request.form['fecha']}}" >
                          </div>
                          <div class="form-group col-md-3">
                            <label for="edoCivil">Estado civíl:</label>
                            <select name="edoCivil" class="form-control"  value="{{ request.form['edoCivil']}}">
                              <option value="Soltero(a)">Soltero(a)</option>
                              <option value="Casado(a)">Casado(a)</option>
                              <option value="Divorciado(a)">Divorciado(a)</option>
                              <option value="Viudo(a)">Viudo(a)</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="ciudad">Ciudad donde radicas:</label>
                            <select name="ciudad" class="form-control" value="{{ request.form['ciudad']}}">
                              <option value="Aguascalientes">Aguascalientes</option>
                              <option value="Campeche">Campeche</option>
                              <option value="Chetumal">Chetumal</option>
                              <option value="Chihuahua">Chihuahua</option>
                              <option value="Chilpancingo">Chilpancingo</option>
                              <option value="Ciudad de México">Ciudad de México</option>
                              <option value="Ciudad Victoria">Ciudad Victoria</option>
                              <option value="Chetumal">Chetumal</option>
                              <option value="Colima">Colima</option>
                              <option value="Cuernavaca">Cuernavaca</option>
                              <option value="Culiacán">Culiacán</option>
                              <option value="Durango">Durango</option>
                              <option value="Guanajuato">Guanajuato</option>
                              <option value="Guadalajara">Guadalajara</option>
                              <option value="Hermosillo">Hermosillo</option>
                              <option value="La Paz">La Paz</option>
                              <option value="Mérida">Mérida</option>
                              <option value="Mexicali">Mexicali</option>
                              <option value="Monterrey">Monterrey</option>
                              <option value="Morelia">Morelia</option>
                              <option value="Oaxaca">Oaxaca</option>
                              <option value="Pachuca">Pachuca</option>
                              <option value="Puebla">Puebla</option>
                              <option value="Querétaro">Querétaro</option>
                              <option value="Saltillo">Saltillo</option>
                              <option value="San Luis Potosí">San Luis Potosí</option>
                              <option value="Tepic">Tepic</option>
                              <option value="Toluca">Toluca</option>
                              <option value="Tuxtla Gutiérrez">Tuxtla Gutiérrez</option>
                              <option value="Tlaxcala">Tlaxcala</option>
                              <option value="Villahermosa">Villahermosa</option>
                              <option value="Zacatecas">Zacatecas</option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <h5 class="encabezados">Datos de contacto</h5>
                          <hr class="style14">
                          <br>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="correo">Correo electrónico</label>
                            <input type="email" class="form-control" name="correo" placeholder="alguien@ejemplo.com.mx" value="{{ request.form['correo'] }}" >
                          </div>
                          <div class="form-group col-md-4">
                            <label for="fijo">Télefono fijo</label>
                            <input type="tel" class="form-control" name="fijo" placeholder="5555555555" maxlength="10" value="{{ request.form['fijo'] }}" >
                          </div>
                          <div class="form-group col-md-4">
                              <label for="celular">Télefono celular</label>
                              <input type="tel" class="form-control" name="celular" placeholder="5555555555" maxlength="10" value="{{ request.form['celular'] }}" >
                          </div>
                        </div>
                        <div class= "form-row">
                            <div class="form-group col-md-4">
                                <label class="form-label" for="cv">Adjunta tu CV</label>
                                <input type="file" class="form-control" id="customFile" name="cv">
                            </div>
                        </div>
                        <div class="row">
                          <h5 class="encabezados">Información adicional</h5>
                          <hr class="style14">
                          <br>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="conocimiento">¿Cómo te enteraste de nosotros?</label>
                            <select name="conocimiento" class="form-control" value="{{ request.form['conocimiento'] }}">
                              <option value="1">Recomendación de un amigo</option>
                              <option value="2">Navegador web</option>
                              <option value="3">Anuncio</option>
                              <option value="4">Publicidad de instagram</option>
                              <option value="5">Publicidad de facebook</option>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="perfil">¿Tienes experiencia en alguno de nuestros perfiles?</label>
                            <select name="perfil" class="form-control" value="{{ request.form['perfil'] }}">
                              <option value="1">Mystery Shopper</option>
                              <option value="2">Encuestador</option>
                              <option value="3">Entrevistador</option>
                              <option value="4">Ninguno</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="lugarExperiencia">¿En dónde realizaste esa experiencia previa? (Opcional)</label>
                                <input type="text" class="form-control" name="lugarExperiencia" placeholder="Anota el lugar donde realizaste tu trabajo" value="{{ request.form['lugarExperiencia'] }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                      </form>
        </div>
</div>


{% endblock %}