{% extends './baseAdmin.html' %}

{% block content%}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Candidatos registrados en ViSor</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono celular</th>
                                <th>Teléfono fijo</th>
                                <th>Perfil</th>
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.telCelular }}</td>
                                    <td>{{ user.telFijo }}</td>
                                    <td>{{ user.perfil }}</td>
                                    <td>
                                    {% set id = user.id %}
                                    {%  set cv = user.nameCV %}
                                    <a class="btn btn-primary" href="{{ url_for('download_file', filename = cv ) }}" role="button" target="_blank">Descargar</a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-success" href="{{ url_for('user', id = id ) }}" role="button">Detalle</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 align-self-start">
                <a href="{{ url_for('exportar')}}" class="btn btn-info btn-fill pull-right">Exportar datos</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}


