
{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container">
<div class="row">
<div class="col-12">
<table class="table table-bordered table-striped table-hover">
    <thead>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Teléfono Celular</th>
            <th>Teléfono Fijo</th>
            <th>Experiencia</th>
            <th>Acciones</th>
    </thead>
    <tbody>
        <tr>
            <td>Cristian Rosales Deloya</td>
            <td>cristiandeloya@gmail.com</td>
            <td>5578101989</td>
            <td>5553067676</td>
            <td>Mystery Shopper</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
            </td>
        </tr>
        
        <tr>
                <td>Cristian Rosales Deloya</td>
                <td>cristiandeloya@gmail.com</td>
                <td>5578101989</td>
                <td>5553067676</td>
                <td>Mystery Shopper</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                </td>
        </tr>

        <tr>
                <td>Cristian Rosales Deloya</td>
                <td>cristiandeloya@gmail.com</td>
                <td>5578101989</td>
                <td>5553067676</td>
                <td>Mystery Shopper</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                </td>
            </tr>

    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
