{% extends './baseAdmin.html' %}

{% block content%}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Información del candidato</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" disabled="" placeholder="Company" value="{{ user.name }}">
                                                </div>
                                            </div>

                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Correo electrónico</label>
                                                    <input type="email" class="form-control" placeholder="Email" value = "{{user.email}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label>Fecha de nacimiento</label>
                                                    <input type="text" class="form-control" placeholder="" value="{{user.fechaNacimiento}}">
                                                </div>
                                            </div>
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Teléfono fijo</label>
                                                    <input type="text" class="form-control" placeholder="Last Name" value="{{user.telFijo}}">
                                                </div>
                                            </div>
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Teléfono celular</label>
                                                    <input type="text" class="form-control" placeholder="Last Name" value="{{user.telCelular}}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 pr-1">
                                                <div class="form-group">
                                                    <label>Ciudad</label>
                                                    <input type="text" class="form-control" placeholder="City" value="{{user.ciudad}}">
                                                </div>
                                            </div>
                                            <div class="col-md-4 px-1">
                                                <div class="form-group">
                                                    <label>Estado civíl</label>
                                                    <input type="text" class="form-control" placeholder="Country" value="{{user.edoCivil}}">
                                                </div>
                                            </div>
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Perfil de interés</label>
                                                    <input type="text" class="form-control" placeholder="ZIP Code" value="{{user.perfil}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Experiencia laboral</label>
                                                    <textarea rows="4" cols="80" class="form-control" placeholder="" value="Mike">{{user.expPrevia}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {%  set cv = user.nameCV %}
                                        <a href="{{ url_for('download_file', filename = cv ) }}" class="btn btn-info btn-fill pull-right">Descargar CV</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock%}